.site-header{
  background-color:skyblue;
  padding: 15px 0;
  text-align: center;
}

.text-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.title-orange {
  color: orange;
}

.like-h5 {
  font-size: 0.83em;  /* h5相当のサイズ */
}

.like-h5 li::marker {
  font-size: inherit; /* 点の大きさも文字と同じに */
}

.scratch-embed {
  margin: 20px 0;
  text-align: center;
}

.scratch-embed iframe {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.title-blue {
  color:blue;
}